body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: crimson;
}

h4, h5 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#score {
    border: 2px solid red;
    background-color: bisque;
    text-align: center;
}

#modal {
    width: 30%;
    height: 40%;
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 40%;
    right: 35%;
    top: 40%;
    display: none;
}

#modal-header {
    padding: 1em;
    background-color: crimson;
    color: white;
}

#modal-content {
    font: black;
    font-size: 1.5em;
}